{% extends 'base.html' %}
{% load custom_filters %}

{% block content %}

<div class="container mt-5">

    <!-- CATEGORY -->

    <div class="mb-4">

        <h3 class="fw-bold mb-3">
            Kategori Produk
        </h3>

        <div class="d-flex flex-wrap gap-2">

            <a href="/"
               class="btn btn-dark rounded-pill">

                Semua

            </a>

            {% for category in categories %}

            <a href="?category={{ category.id }}"
               class="btn btn-outline-dark rounded-pill">

                {{ category.name }}

            </a>

            {% endfor %}

        </div>

    </div>

    <!-- PRODUCT -->

    <div class="row">

        {% for product in products %}

        <div class="col-md-4 mb-4">

            <div class="card shadow border-0 rounded-4 h-100">

                {% if product.image %}
                <img src="{{ product.image.url }}"
                     class="card-img-top"
                     style="height:300px; object-fit:cover;">
                {% endif %}

                <div class="card-body">

                    <h4 class="fw-bold">
                        {{ product.name }}
                    </h4>

                    <span class="badge bg-dark mb-3">
                        {{ product.category.name }}
                    </span>

                    <h3 class="text-success fw-bold">
                        {{ product.price|rupiah }}
                    </h3>

                    <p class="text-muted">
                        Stok : {{ product.stock }}
                    </p>

                    <p>
                        {{ product.description|truncatechars:100 }}
                    </p>

                </div>

                <div class="card-footer bg-white border-0">

                    {% if user.is_authenticated %}

                        {% if user.userprofile.role == 'buyer' %}

                        <a href="{% url 'checkout' product.id %}"
                           class="btn btn-dark w-100 rounded-pill">

                            Beli Sekarang

                        </a>

                        {% else %}

                        <button class="btn btn-secondary w-100 rounded-pill">

                            Hanya Pembeli Yang Bisa Checkout

                        </button>

                        {% endif %}

                    {% else %}

                    <a href="{% url 'login' %}"
                       class="btn btn-dark w-100 rounded-pill">

                        Login Untuk Membeli

                    </a>

                    {% endif %}

                </div>

            </div>

        </div>

        {% empty %}

        <div class="col-12">

            <div class="alert alert-danger">

                Produk tidak ditemukan.

            </div>

        </div>

        {% endfor %}

    </div>

</div>

{% endblock %}